{% extends 'parent/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ id }}{% endblock %}</title>
</head>
<body>
{% block content %}

    <div style="display: grid;grid-template-columns: repeat(2, minmax(0, 1fr));gap: 10px">
        <h3>id:{{ id }}</h3>
        <h3>title:{{ Post.title }}</h3>
        <h3>author:{{ Post.author }}</h3>
        <h3>description:{{ Post.content }}</h3>
        <h3 style="grid-column: span 2;">published at :{{ Post.publish }}</h3>
    </div>
    <a href={% url "blog:postShare" id %}>Share Post</a>
{% endblock %}
</body>
</html>