{% extends 'parent/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ id }}{% endblock %}</title>
</head>
<body>
{% block content %}
<table style="border: 2px solid cornflowerblue;">

    <tr>
         <th>
            id
        </th>
         <th>
            title
        </th>
         <th>
            author
        </th>
         <th>
            description
        </th>
        <th>
            published
        </th>
    </tr>
<tr>
    <td>{{ id }}</td>
    <td>{{ Post.title }}</td>
    <td>{{ Post.author }}</td>
        <td>{{ Post.content }}</td>
    <td>{{ Post.publish }}</td>

  </tr>



</table>
{% endblock %}
</body>
</html>